<%= form_with(model: gifday, local: true) do |form| %>
  <% if gifday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gifday.errors.count, "error") %> prohibited this gifday from being saved:</h2>

      <ul>
      <% gifday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :gifday_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :gifday_body %>
  </div>

  <div class="field">
    <%= form.label :daynumber %>
    <%= form.number_field :daynumber, id: :gifday_daynumber %>
  </div>

  <div class="field">
    <%= form.label :companyname %>
    <%= form.text_field :companyname, id: :gifday_companyname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
