<p id="notice"><%= notice %></p>

<h1>Administation</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Companyname</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifdays.each do |gifday| %>
      <tr>
        <td><%= gifday.title %></td>
        <td><%= gifday.companyname %></td>
        <td><%= link_to 'Edit', edit_gifday_path(gifday) %> | </td>
        <td><%= link_to 'Destroy', gifday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gifday', new_gifday_path %>
